# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/

# Django
db.sqlite3
*.sqlite3
.env
local_settings.py
core/migrations
core/staticfiles

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
